services:
  postgres:
    image: pgvector/pgvector:pg16
    environment:
      POSTGRES_USER: vladbot
      POSTGRES_PASSWORD: vladbot
      POSTGRES_DB: vladbot
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
